<div class="tab-content js-tab-content">
  <h3>Luật chơi</h3>
  <p>
    <span class="text-strong">Ô chữ chìa khoá</span>
    Đây là 1 trạng từ bằng tiếng Anh, có liên quan đến core value
    <span class="text-strong"> "Be Professional"</span>
  </p>
  <p>
    Cá nhân giơ tay chọn 
    <span class="text-strong">1 ô chữ</span>
    để trả lời, trả lời đúng sẽ nhận được 
    <span class="text-strong">1 phần quà (snack)</span>
    <%= image_tag "chip.png", class: "img-chip" %>
  </p>
  <p>Khi cá nhân muốn trả lời câu hỏi từ khoá thì giơ tay xin trả lời câu hỏi từ khoá</p>
  <ul>
    <li>
      <p>
        Trả lời được ô chữ từ khoá với 
        <span class="text-strong">ít hơn 4 ô chữ được lật mở</span>
        thì nhận được phần quà trị giá <span class="text-strong">100k (gói đồ ăn)</span>
        <%= image_tag "chip.png", class: "img-chip" %>
        <%= image_tag "chip.png", class: "img-chip" %>
        <%= image_tag "chip.png", class: "img-chip" %>
        <%= image_tag "chip.png", class: "img-chip" %>
      </p>
    </li>
    <li>
      <p>
        Trả lời được ô chữ từ khoá với 
        <span class="text-strong">4 - 8 ô chữ được lật mở</span>
        thì nhận được phần quà trị giá <span class="text-strong">75k (gói đồ ăn)</span>
        <%= image_tag "chip.png", class: "img-chip" %>
        <%= image_tag "chip.png", class: "img-chip" %>
        <%= image_tag "chip.png", class: "img-chip" %>
      </p>
    </li>
    <li>
      <p>
        Trả lời được ô chữ từ khoá với 
        <span class="text-strong">nhiều hơn 8 ô chữ được lật mở</span>
        thì nhận được phần quà trị giá <span class="text-strong">50k (gói đồ ăn)</span>
        <%= image_tag "chip.png", class: "img-chip" %>
        <%= image_tag "chip.png", class: "img-chip" %>
      </p>
    </li>
  </ul>
</div>
